@import "fonts.sass"

.container
    max-width: 1200px
    padding: 0 15px
    margin: 0 auto

header
    background-image: url("/img/hero_bg.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat

.header__wrap
    display: flex
    justify-content: space-around
    align-items: center
    padding-top: 53px
    margin-bottom: 253px
    .menu
        &__list
            display: flex
            // flex-direction: row
            justify-content: center
    .header__social
        display: flex
        align-items: center
.header__title
    padding-bottom: 225px
    h1
        color: #ffffff
        font-family: Gotham
        font-size: 80px
        font-weight: 700
        font-style: normal
        letter-spacing: normal
        line-height: 22px
        text-align: center
        text-transform: uppercase
        letter-spacing: 4px
    h2
        color: #ffffff
        font-family: "Gotham - Book"
        font-size: 18px
        font-weight: 400
        font-style: normal
        letter-spacing: normal
        line-height: 22px
        text-align: center
        text-transform: uppercase
        letter-spacing: 5.4px
.scroll
    margin: 0 auto
    width: 40px
    height: 40px
.svg:hover
    opacity: 0.5

.what__content-tc
    display: flex
.content__descr
    span
        display: block
        font-family: "Open Sans"
        font-size: 18px
        color: #2c4058
        font-style: italic
        letter-spacing: normal
        line-height: 30px
        text-align: left
        font-weight: 400
.what__content-co
    display: flex

.news__slider
    display: flex
    justify-content: space-around

.slider__card
    width: 370px
    height: 514px
.card__inner
    height: 60px
    display: flex
    justify-content: flex-start
    align-items: center
    h4
        margin: 0

.gallery__wrap
    display: flex
.galery__small
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap
    gap: 10px
.map
    background-image: url("../img/map.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    height: 700px

footer
    background-image: url("/img/footer_bg.png")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
